<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="~/Content/loading-bar.css" rel="stylesheet" />
</head>
<body>

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@* Angular source *@
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-route.js"></script>
	<script src="~/Scripts/angular-local-storage.js"></script>
	@*<script src="~/Scripts/angular-loader.js"></script>*@
	<script src="~/Scripts/loading-bar.js"></script>
	@* Angular App *@
	<script src="~/App/app.js"></script>
	<script src="~/App/Services/authInterceptorService.js"></script>
	<script src="~/App/Services/authService.js"></script>
	<script src="~/App/Services/ordersService.js"></script>
	<script src="~/App/Controllers/indexController.js"></script>
	<script src="~/App/Controllers/homeController.js"></script>
	<script src="~/App/Controllers/loginController.js"></script>
	<script src="~/App/Controllers/signupController.js"></script>
	<script src="~/App/Controllers/ordersController.js"></script>

	@RenderSection("scripts", required: false)
</body>
</html>
