@model NoteBook.Models.

@{
    ViewBag.Title = "Авторизация";
}

<h1>@ViewBag.Title</h1>
<hr />

<div class="row">
    @using (Html.BeginForm("Authorization", "PersonalAccaunt", FormMethod.Post, new { @class = "col-md-6 col-md-offset-3 form-horizontal" }))
    {
        <div class="form-group">
            @Html.Label("Login", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">@Html.ValidationMessageFor(m => m.Login)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">@Html.ValidationMessageFor(m => m.Password)</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                @Html.ActionLink("Зарегистрироваться", "Registry", "PersonalAccaunt")
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary">Вход</button>
            </div>
        </div>

    }

</div>
